.cnt {
    position: absolute;
    top:0;
    z-index: 2;
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.35);
    mat-progress-spinner {
        margin: auto;
        margin-top: calc(35% - 50px);
    }
}