$yellow:#fbc02d;
mat-card {
    width: fit-content;
    margin: 5% auto 0 auto;
    text-align: center;
    span {
        font-size: 20px;
    }
    div {
        mat-icon {
            margin-left: 10px;
            vertical-align: bottom;
            cursor: pointer;
        }
    }
    mat-card-title p {
        font-family: 'Righteous';
        margin: 10px 0;
        font-size: 40px;
    }
    .color {
        color:$yellow;
    }
}